<h1>NEW USER</h1>
<br />
<!--


HTML Basic Form

<form action="/users" method="post" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="user[username]">Name</label>
    <input name="user[username]" type="text">
    <label for="user[email]">Email</label>
    <input name="user[email]" type="text">
    <label for="user[password]">Password</label>
    <input name="user[password]" type="password">
    <input name="submit" type="submit">
</form>


Railsy Form

<%= form_tag("/users", method: "post") do %>
    <%= label_tag(:username, "Name") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:email, "Email") %>
    <%= text_field_tag(:email) %>
    <%= label_tag(:password, "Password") %>
    <%= password_field_tag(:password) %>
    <%= submit_tag("Add") %>
<% end %>
-->


<!-- Rails-ier Form -->

<%= form_for @user do |f| %>
    <%= f.label "Username: "%>
    <%= f.text_field :username %>
    <%= f.label "Email: "%>
    <%= f.text_field :email %>
    <%= f.label "Password: "%>
    <%= f.password_field :password %>
    <%= f.submit "Create" %>
  <% end %>